@charset "UTF-8";
.l_block {
  display: block;
}

.l_inline_block {
  display: inline-block;
}

.l_inline {
  display: inline;
}

.l_flex {
  display: flex;
}

.l_table_cell {
  display: table-cell;
}

.td-1 {
  display: table-cell;
  height: 3.2rem;
  /* (24.8rem -3rem) / 2 の幅*/
  max-width: 10.9rem;
  line-height: 1.4rem;
  padding: .6rem 1.2rem;
  font-size: 1.4rem;
  color: #1a73e8;
  border: 0.1rem solid #dadce0;
  border-radius: .4rem;
  text-align: center;
  vertical-align: middle;
  /* 要素より長い文字列を省略する */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.td-2 {
  display: table-cell;
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  line-height: 2rem;
  padding: .1rem;
  font-size: 2rem;
  color: #70757a;
  text-align: center;
  vertical-align: middle;
}

.td-3 {
  display: table-cell;
  height: 3.2rem;
  /* (24.8rem -3rem) / 2 の幅*/
  max-width: 10.9rem;
  line-height: 1.4rem;
  padding: .6rem 1.2rem;
  font-size: 1.4rem;
  color: #1a73e8;
  border: 0.1rem solid #dadce0;
  border-radius: .4rem;
  text-align: center;
  vertical-align: middle;
  /* 要素より長い文字列を省略する */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.td-4 {
  pointer-events: none;
  display: table-cell;
  height: 3.2rem;
  line-height: 1.4rem;
  padding: .6rem 1.2rem;
  font-size: 1.4rem;
  color: #dadce0;
  background-color: #f8f9fa;
  border-radius: .4rem;
  text-align: center;
  vertical-align: middle;
}

@media (min-width: 46rem) {
  .td-1 {
    /* (41.6rem -3rem) / 2 の幅*/
    max-width: 19.3rem;
  }
  .td-3 {
    /* (41.6rem -3rem) / 2 の幅*/
    max-width: 19.3rem;
  }
}

html {
  font-size: 62.5%;
  font-size: calc(1em * .625);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 関数電卓非表示 ----------------------------------------------- */
* {
  /* padding と border を幅と高さに含める */
  box-sizing: border-box;
  /* カーソル設定 */
  cursor: default;
  /* タップ時に青く光るのを透明にして消す */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input {
  width: 100%;
  height: 100%;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

.btn-tr {
  height: 4.4rem;
}

.btn-tr td {
  height: 4.4rem;
}

.btn-tr td > div {
  height: 3.8rem;
  margin: .2rem;
  cursor: pointer;
  line-height: 3.4rem;
  border-radius: .4rem;
}

td {
  padding: 0;
}

html {
  height: 100%;
  max-height: 100%;
}

body {
  margin: 0%;
  height: 100%;
  max-height: 100%;
  font-family: "Helvetica Neue", "Roboto", Arial, sans-serif;
  font-size: 1.5rem;
}

h1 {
  margin: 0;
  padding: 0;
}

.main {
  position: relative;
  padding: 1.6rem 0 1.2rem 0;
  margin: 0 1.2rem 1.2rem 1.2rem;
  max-height: 100%;
}

.panel {
  padding: 1rem 1.6rem 0 1rem;
  border: 0.1rem solid #dadce0;
  border-radius: .8rem;
  height: 8rem;
}

.history {
  height: 2rem;
  justify-content: space-between;
}

#prev-history {
  height: 1.3rem;
  margin-top: .3rem;
  font-size: 1.3rem;
  color: #70757a;
}

.his {
  position: absolute;
}

#modal {
  display: none;
  position: absolute;
  top: 1.1rem;
  left: -.1rem;
  width: 28rem;
  max-width: 100%;
  min-height: 10.4rem;
  max-height: 34.6rem;
  z-index: 3;
  text-align: center;
  background-color: white;
  color: #4d5156;
  border-radius: .8rem;
  box-shadow: rgba(0, 0, 0, 0.28) 0 0.1rem 0.4rem 0;
  font-size: 1.6rem;
}

/* position 指定用の div クラス */
.modal-position {
  position: relative;
  width: 100%;
  height: 100%;
}

.icon-1 {
  color: #70757a;
  font-size: 2.2rem;
}

.icon-2 {
  display: block;
  height: 5.4rem;
  position: absolute;
  text-align: left;
  top: 0;
  left: 0;
  padding: 1.6rem;
  color: #1a73e8;
  font-size: 2.2rem;
}

.preview {
  position: relative;
  height: 3.2rem;
  margin-top: .6rem;
  text-align: right;
  overflow: hidden;
}

#preview {
  position: absolute;
  display: block;
  width: 100%;
  text-align: right;
  font-size: 3.2rem;
  color: #4d5156;
  /* 改行をさせない */
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

#preview::-webkit-scrollbar {
  display: none;
}

#modal-text {
  padding: 4.1rem;
  line-height: 2rem;
  color: #70757a;
}

#history-table {
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  padding: 0 1.6rem 1.6rem 1.6rem;
  max-height: 29.1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.table-1 + .table-1 {
  margin-top: 1.6rem;
}

.table-1 {
  height: 3.2rem;
  max-width: 24.8rem;
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
  table-layout: auto;
}

.modal-border {
  border-top: 0.1rem solid #dadce0;
  padding-top: 1.6rem !important;
}

.click-preview {
  box-shadow: inset 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
  border: .1rem solid #4285f4;
}

.expression {
  display: block;
  width: 100%;
  font-size: 3.2rem;
  text-align: right;
  color: #4d5156;
  text-align: right;
}

.calc-buttons {
  margin-top: .8rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

.calc-buttons table {
  /* セル間の隙間を指定 */
  border-collapse: collapse;
  border-spacing: 0;
  /* ボタン幅を等しくする */
  table-layout: fixed;
  width: 100%;
}

.calc-buttons td {
  height: 3.6rem;
  text-align: center;
}

.color1 {
  color: #202124;
  background-color: #dadce0;
  border: 0.1rem solid white;
}

.color1:active {
  border: 0.1rem solid #dadce0;
}

.color2 {
  color: #202124;
  background-color: #f1f3f4;
  border: 0.1rem solid white;
}

.color2:active {
  border: 0.1rem solid #dadce0;
}

.color3 {
  color: #70757a;
  background-color: #dadce0;
  border: 0.1rem solid white;
}

.color4 {
  height: 3.6rem !important;
  margin: .4rem !important;
  background-color: #4285f4;
  color: white;
}

.color4:active {
  box-shadow: 0 0.1rem 0.2rem 0 rgba(66, 133, 244, 0.45), 0 0.3rem 0.6rem 0.2rem rgba(66, 133, 244, 0.3);
}

.font1 {
  font-size: 2rem;
  font-weight: 700;
}

.font2 {
  font-size: 1.4rem;
}

.font3 {
  font-size: 2rem;
}

/* 関数電卓 scientific calculator */
.sc-calc {
  display: none;
}

/* 関数電卓表示 ----------------------------------------------- */
/* Google 検索時の仕様に合わせ break point 指定 */
@media (min-width: 46rem) {
  #modal {
    width: 44.8rem;
  }
  .sc-calc {
    display: table-cell;
  }
}
