/* 関数電卓非表示 ----------------------------------------------- */

* {
  /* padding と border を幅と高さに含める */
  box-sizing: border-box;
  /* カーソル設定 */
  cursor: default;
  /* タップ時に青く光るのを透明にして消す */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input {
  width: 100%;
  height: 100%;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

.btn-tr {
  height: 44px;
}

.btn-tr td {
  height: 44px;
}

td {
  padding: 0;
}

html {
  height: 100%;
  max-height: 100%;
}

body {
  margin: 0%;
  height: 100%;
  max-height: 100%;
  font-family: "Helvetica Neue", "Roboto", Arial, sans-serif;
  font-size: 15px;
}

h1 {
  margin: 0;
  padding: 0;
}

.main {
  position: relative;
  padding: 16px 0 12px 0;
  margin: 0 12px 12px 12px;
  max-height: 100%;
}

.panel {
  padding: 10px 16px 0 10px;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 8px;
  height: 80px;
}

.history {
  height: 20px;
  display: flex;
  justify-content: space-between;
}

#prev-history {
  height: 13px;
  margin-top: 3px;
  font-size: 13px;
  color: rgb(112, 117, 122);
}

.his {
  position: absolute;
}


.icon-1 {
  color: rgb(112, 117, 122);
  font-size: 22px;
}

#modal {
  display: none;
  position: absolute;
  top: 11px;
  left: -1px;
  width: 280px;
  max-width: 100%;
  min-height: 104px;
  max-height: 999999px;
  z-index: 3;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(77, 81, 86);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.28) 0 1px 4px 0;
  font-size: 16px;
}

/* position 指定用の div クラス */
.modal-position {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 41px;
}

.icon-2 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px;
  color: rgb(26, 115, 232);
  font-size: 22px;
}

#preview {
  font-size: 32px;
}

#modal-text {
  line-height: 20px;
  color: rgb(112, 117, 122);
}

#history-table {
  display: none;
  width: 100%;
  height: 100%;
  top: 54px;
  left: 0;
  padding: 0 16px 16px 16px;
}

.table-1+.table-1 {
  margin-top: 16px;
}

.table-1 {
  border-collapse: separate;
  border-spacing: 0;
  height: 32px;
  text-align: left;
  table-layout: auto;
}

.td-1 {
  display: table-cell;
  height: 32px;
  line-height: 14px;
  padding: 6px 12px;
  font-size: 14px;
  color: rgb(26, 115, 232);
  border: 1px solid rgb(218, 220, 224);
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
}

.td-2 {
  display: table-cell;
  width: 30px;
  height: 30px;
  line-height: 20px;
  padding: 1px;
  font-size: 20px;
  color: rgb(112, 117, 122);
  text-align: center;
  vertical-align: middle;
}

.td-3 {
  pointer-events: none;
  display: table-cell;
  height: 32px;
  line-height: 14px;
  padding: 6px 12px;
  font-size: 14px;
  color: rgb(218, 220, 224);
  background-color: rgb(248, 249, 250);
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
}

.preview {
  height: 32px;
  margin-top: 6px;
  display: flex;
}

.expression {
  font-size: 32px;
  text-align: right;
  color: rgb(77, 81, 86);
}

.calc-buttons {
  margin-top: 8px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.calc-buttons table {
  /* セル間の隙間を指定 */
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

.btn-tr td>div {
  height: 38px;
  margin: 2px;
  cursor: pointer;
  line-height: 34px;
  border-radius: 4px;
}

.calc-buttons td {
  height: 36px;
  text-align: center;
}

.color1 {
  color: rgb(32, 33, 36);
  background-color: rgb(218, 220, 224);
  border: 1px solid rgb(255, 255, 255);
}

.color2 {
  color: rgb(32, 33, 36);
  background-color: rgb(241, 243, 244);
  border: 1px solid rgb(255, 255, 255);
}

.color1:active,
.color2:active {
  border: 1px solid rgb(218, 220, 224);
}

.color3 {
  color: rgb(112, 117, 122);
  background-color: rgb(218, 220, 224);
}

.color4 {
  height: 36px !important;
  margin: 4px !important;
  background-color: rgb(66, 133, 244);
  color: rgb(255, 255, 255);
}

.color4:active {
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, .45), 0 3px 6px 2px rgba(66, 133, 244, .3);
}

.font1 {
  font-size: 20px;
  font-weight: 700;
}

.font2 {
  font-size: 14px;
}

.font3 {
  font-size: 20px;
}

/* 関数電卓 scientific calculator */
.sc-calc {
  display: none;
}

/* 関数電卓表示 ----------------------------------------------- */
/* Google 検索時の仕様に合わせ break point 指定 */
@media (min-width: 460px) {
  #modal {
    width: 448px;
  }

  .sc-calc {
    display: table-cell;
  }
}