.table-1 {
    height: 3.2rem;
    max-width: 24.8rem;
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    table-layout: auto;
}

.table-1+.table-1 {
    margin-top: 1.6rem;
}

.td-1 {
    display: table-cell;
    height: 3.2rem;
    /* (24.8rem -3rem) / 2 の幅*/
    max-width: 10.9rem;
    line-height: 1.4rem;
    padding: .6rem 1.2rem;
    font-size: 1.4rem;
    color: colors(blue_1);
    border: .1rem solid colors(gray_2);
    border-radius: .4rem;
    text-align: center;
    vertical-align: middle;
    /* 要素より長い文字列を省略する */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.td-2 {
    display: table-cell;
    width: 3rem;
    min-width: 3rem;
    height: 3rem;
    line-height: 2rem;
    padding: .1rem;
    font-size: 2rem;
    color: colors(gray_1);
    text-align: center;
    vertical-align: middle;
}

.td-3 {
    display: table-cell;
    height: 3.2rem;
    /* (24.8rem -3rem) / 2 の幅*/
    max-width: 10.9rem;
    line-height: 1.4rem;
    padding: .6rem 1.2rem;
    font-size: 1.4rem;
    color: colors(blue_1);
    border: .1rem solid colors(gray_2);
    border-radius: .4rem;
    text-align: center;
    vertical-align: middle;
    /* 要素より長い文字列を省略する */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.td-4 {
    pointer-events: none;
    display: table-cell;
    height: 3.2rem;
    line-height: 1.4rem;
    padding: .6rem 1.2rem;
    font-size: 1.4rem;
    color: colors(gray_2);
    background-color: colors(white_1);
    border-radius: .4rem;
    text-align: center;
    vertical-align: middle;
}

@media (min-width: 46rem) {
    .td-1 {
        /* (41.6rem -3rem) / 2 の幅*/
        max-width: 19.3rem;
    }

    .td-3 {
        /* (41.6rem -3rem) / 2 の幅*/
        max-width: 19.3rem;
    }

}
