@import '../mixin/button.scss';

.btn-1 {
    @include btn($color: colors(gray_4), $bg-color: colors(gray_2));
    border: .1rem solid colors(white);

    &:active {
        border: .1rem solid colors(gray_2);
    }
}

.btn-2 {
    @include btn($color: colors(gray_1), $bg-color: colors(gray_2));
    border: .1rem solid colors(white);
}

.btn-3 {
    @include btn($color: colors(gray_4), $bg-color: colors(white_2));
    border: .1rem solid colors(white);

    &:active {
        border: .1rem solid colors(gray_2);
    }
}

.btn-4 {
    height: 3.6rem !important;
    margin: .4rem !important;
    @include btn($color: colors(white), $bg-color: colors(blue_2));

    &:active {
        box-shadow: 0 .1rem .2rem 0 colors(shadow_1), 0 .3rem .6rem .2rem colors(shadow_2);
    }
}

/* width
---------------------------------------------------------- */
.w_33 {
    width: 33.333333%;
}

.w_50 {
    width: 50%;
}

.w_66 {
    width: 66.666666%;
}

/* font-size
---------------------------------------------------------- */
.font-s10 {
    font-size: 1.0rem;
}

.font-s14 {
    font-size: 1.4rem;
}

.font-s15 {
    font-size: 1.5rem;
}

.font-s20 {
    font-size: 2.0rem;
}

/* font-weight
---------------------------------------------------------- */
.font-w700 {
    font-weight: 700;
}
